{% extends 'base.html' %}
{% block content %}

 <section id="company">
    <div class="container">
        <div class="company">
            <h1>О компании  РЦ "Luxbrend" - 30 лет опыта продажи  товаров народного потребления</h1>
          <p>Магазин “LUX BREND” является одним из крупнейших оптовых поставщиков одежды, обуви и аксессуаров в Киргизии. Магазин работает с более чем 100 поставщиками Магазин “LUX BREND” является одним из крупнейших оптовых поставщиков одежды в Киргизии. Магазин “ LUX BREND ” работает с более чем 200 поставщиками из разных стран, таких как Узбекистан,Пакистан,Казакстан, Россия и т.д., и обслуживает более чем 1000 клиентов, в том числе розничные магазины, интернет-магазины и т.д. Магазин “ LUX BREND ” предлагает своим клиентам широкий ассортимент женской,мужской и детской одежды, включающий более чем 5000 наименований, таких как платья, юбки, блузки, костюмы, пальто, куртки, свитера, джинсы, брюки, футболки, топы, нижнее белье и т.д. Магазин “ LUX BREND ” постоянно обновляет свой ассортимент в соответствии с модными тенденциями и сезонностью спроса.</p>

        </div>
    </div>
 </section>

{% endblock content %}