{% extends 'base.html' %}
{% block content %}


<section class="dogovor">
   <div class="container">
  <div class="dogovor">
    <h1>
        Перечень документов для заключения договора</h1>
 <h5>Минимальная сумма заказа: 30 000 сомов</h5>
 <h3>Для индивидуальных предпринимателей:</h3>
 <p> - Свидетельство о регистрации ИП (ИНН); <br>
     - Свидетельство о постановке на налоговый учет (ОГРН); <br>
     - Копия паспорта (страницы с фото и пропиской).
     - Для юридических лиц:</p>

 <h3>Для юридических лиц:</h3>
 <p>
     - Свидетельство о регистрации юридического лица (ИНН); <br>
     - Свидетельство о постановке на налоговый учет (ОГРН); <br>
     - Устав. Страницы, содержащие сведения: об учредителях, о назначении и сроках полномочий директора. А также первая и последняя.
     - Положение о назначении директора.</p>

 <h3>Для физических лиц:</h3>

 <p> - Условия отгрузки физических лиц можно уточнить у менеджера.</p>
  </div>
   </div>
</section>


{% endblock %}