{% extends 'base.html' %}
{% block content %}


  <section id="dostavka">
    <div class="container">
      <div class="dostavka">
        <div class="dostavka-text">
          <div class="dostavka-info">
            <h3>Прием заявок от клиентов</h3> <br> <span>по мере поступления</span>

          </div>
          <div class="dostavka-info">
            <h3>День доставки</h3> <br> <span>ежедневно</span>

          </div>
    <div class="dostavka-info">
    <h3>Минимальная сумма заказа для бесплатной доставки</h3> <br> <span>от 10 000 сомов</span>

    </div>

        </div>
        <hr>

        <h2>Достака товара следующими транспортными компаниями: <span>транспортными компаниями</span></h2>
        <h1>Инструкция при получение грузов в транспортной компании</h1>
        <p>Во избежание конфликтных ситуаций при получение груза, отправленных через транспортные компании, клиенту (грузополучателю) необходимо: <br>

          1. После оповещения транспортной компанией о прибытии груза получателю следует: <br>

              <span> • предварительно (до получения) ознакомиться с условиями выдачи грузов на сайте ТК и подготовьте нужные документы для получения груза (доверенность на компанию или паспорт); <br></span>

              <span> • при получении необходимо внимательно осмотреть упаковку груза на наличие механических повреждений и нарушений целостности упаковки; <br></span>

              <span> • вскрыть каждую упаковку, если груз запаллетирован и проверить товар по количеству согласно накладной ТК и на наличие повреждений товара внутри паллета. <br></span>

         <span> ВНИМАНИЕ:</span> Все эти действия нужно проводить на территории транспортной компании в присутствии представителя ТК! <br>

          2. В случае, если клиент получил груз у транспортной компании и расписался в сопроводительных документах ответственность несет сам клиент. <br>

          3. Если клиент (грузополучатель) сомневается в сумме доставки груза, то может потребовать перемерить груз на месте.</p>
      </div>
    </div>
          </section>

{% endblock %}