{% extends 'base.html' %}
{% block content %}


<section id="vozvrat">
    <div class="container">
        <div class="vozvrat">
            <p><span>Принимаются в следующих случаях:</span> <br>
                Обнаружение при приёмке скрытого или явного брака; <br>
                Товар пришел в неполной комплектации; <br>
                Пришли позиции отсутствующие в накладной; <br>
                Получены излишки товара; <br>
                Выявлены недостачи при поставке. <br>
                При получении товара через транспортную компанию просим внимательно осматривать коробки на предмет разрывов, <br> повреждения фирменного скотча, наличия вмятин. Внимательно пересчитать коробки и в случае <br> возникновения расхождений составить акт несоответствия с транспортной компанией. <br>

               <span>Сроки подачи претензии:</span> <br>
                5 дней - по недовозу/излишкам при приемке товара; <br>
                14 дней - по явному браку; <br>
                1 месяц - в случае обнаружения скрытых недостатков товара; <br>
                Оформить возврат/претензию по качеству, можно заполнив бланк возврата и отправив его на адрес:Lux Brend <br>

               <span> Мы рассмотрим вашу претензию и сообщим результат в течение 10 календарных дней.</span> <br>


               <span> Шабданова Мээризат</span><br>
                 <span>                Специалист по претензионной работе
</span>
               </p>
        </div>
    </div>
</section>

{% endblock %}