{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-6">
        <form method="POST">
            {% csrf_token %}
            <h3>Сброс пароля</h3>
            <hr>
            <p class="text-danger">Пожалуйста, введите ваш email, который вы использовали при создании аккаунта.</p>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-primary mt-3 w-100" type="submit">Запросить сброс пароля</button>
            </div>
        </form>
    </div>
{% endblock %}
