{% extends "dashboard.html" %}

{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Пользователь</th>
        <th scope="col">ID</th>
        <th scope="col">Общая стоимость</th>
        <th scope="col">Статус</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for order in orders %}
    <tbody>
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ order.user.full_name }}</td>
        <td>{{ order.id }}</td>
        <td>${{ order.get_total_price }}</td>
        {% if order.status %}
            <td class="text-success">Успешно</td>
        {% else %}
            <td class="text-danger">Отменено</td>
        {% endif %}
        <td><a href="{% url 'dashboard:order_detail' order.id %}" class="text-primary text-decoration-none">Детали</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% endblock %}
